  <h2>Enter your discussion</h2>
  <%= @discussion.errors.full_messages.join(",") %>
  <%= simple_form_for [@project, @discussion], remote: true do |f| %>
    <div class="text-left" >
      <%= f.input :title %>
      <%= f.input :body %>
    </div>
    <%= f.button :submit, class: "btn btn-default btn-primary", remote: true %>
  <% end %>
  <hr>
