<div class="container">
    <h1>Discussion Details</h1>
    <h2><%= @discussion.title %></h2><br>
    <%= @discussion.body %><br>
    <%= link_to "Go Back", project_path(@project) %>

    <div id="comment-form">
      <%= render "comments/form" %>
    </div>

    <h4>Comments</h4>
    <div id="comments">
      <% @discussion.comments.each do |comment| %>
        <%= render "comments/comment", discussion: @discussion, comment: comment %>
    <% end %>
  </div>
</div>
