<h1>Discussion Details</h1>
<%= @discussion.title %><br>
<%= @discussion.body %><br>
<%= link_to "Go Back", project_path(@project) %>
<h2>Enter your comments</h2>
<%= @comment.errors.full_messages.join(",") %>
<%= bootstrap_form_for [@project, @discussion, @comment] do |f| %>
  <div class="content text-left" >
    <%= f.text_area :body %>
  </div>
  <%= f.submit class: "btn btn-default btn-primary" %>
<% end %>
<h4>Comments</h4>
<% @discussion.comments.each do |comment| %>
  <p>Created by: <%= comment.user.full_name if comment.user %></p>
  <p><%= comment.body %></p>
  <%= link_to "Edit", edit_project_discussion_comment_path(@project, @discussion, comment) %>
  <%= link_to "Delete", project_discussion_comment_path(@project, @discussion, comment), method: :delete,
                                                data: {confirm: "Are you sure?"} %>
  <hr>
<% end %>
