<h1>Change Password</h1>
<%= bootstrap_form_tag url: changepassword_path, method: :patch do |f| %>
<div class="text-left" >
 <%= f.password_field :password %>
 <%= f.password_field :new_password %>
 <%= f.password_field :new_password_confirmation %>
</div>
<%= submit_tag "Change Password", class: "btn btn-default btn-primary" %>
<%= link_to "Back to Edit User Information", edit_user_path(session[:user_id]) %>
<% end %>
