<h1>Change Password</h1>
<%= form_tag(changepassword_path, method: :patch)  do %>
<div>
 <%= label_tag "Current Password" %>
 <%= password_field_tag :password %>
</div>
<div>
 <%= label_tag "New Password" %>
 <%= password_field_tag :new_password %>
</div>
<div>
 <%= label_tag "New Password Confrimation" %>
 <%= password_field_tag :new_password_confirmation %>
</div>
<%= submit_tag "Change Password" %>
<% end %>
