<h1>Create an Account</h1>
<%= @user.errors.full_messages.join(", ") %>

  <%= bootstrap_form_for @user do |f| %>
  <div class="content text-left" >

    <%= f.text_field :first_name %>

    <%= f.text_field :last_name %>

    <%= f.email_field :email %>

    <%= f.password_field :password %>

    <%= f.password_field :password_confirmation %>
  </div>
    <%= f.submit class: "btn btn-primary" %></button>
  <% end %>
