<h1>New Project</h1>
<%= @project.errors.full_messages.join(", ") %>
<%= form_for @project do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_area :title %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label :due_date %>
    <%= f.text_area :due_date %>
  </div>
  <div>
    <%= f.label :tag_ids %>
    <%= f.collection_check_boxes(:tag_ids, Tag.order(:title), :id, :title) %>
  </div>
    <%= f.submit %>
<% end %>
