<div class="container">
  <h1>New Project</h1>
  <%= @project.errors.full_messages.join(", ") if @project %>
  <%= simple_form_for @project do |f| %>
    <div class="text-left" >
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :due_date %>
      <%= f.association :tags, as: :check_boxes %>
    </div>
      <%= f.button :submit, class: "btn btn-default btn-primary"%>
  <% end %>
</div>
