<!DOCTYPE html>
<html>
<head>
  <title>PmTool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" style="background:#da591a; font-size: 20px">
    <div class="navbar-header">
      <a id="nav-title" class="navbar-brand" href="/" style="font-family: Chewy">PAUL'S PROJECT MANAGEMENT TOOL</a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse" >
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "New Project", new_project_path %></li>
        <li><%= link_to "All Projects", projects_path %></li>
      </ul>
        <ul class="nav navbar-nav pull-right">
          <% if user_signed_in? %>
          <li><%= link_to "Signed in as: #{current_user.full_name}", edit_user_path(session[:user_id]) %></li>
          <li><%= link_to "Favourite Projects", favourites_path %></li>
          <li><%= link_to "Sign Out", sessions_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign Up", new_user_path %></li>
          <li><%= link_to "Sign In", new_sessions_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
    <div class="jumbotron" style="background:#a6d640">
      <div class="container text-center">
        <% if flash[:notice] %>
          <div class="flash-notice"><%= flash[:notice] %></div>
        <% elsif flash[:alert] %>
          <div class="flash-alert"><%= flash[:alert] %></div>
        <% end %>
      <%= yield %>
    </div>
  </div>
</body>
</html>
