<!DOCTYPE html>
<html>
<head>
  <title>PmTool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <%= link_to "Home", root_path %> |
    <%= link_to "About", about_path %> |
    <%= link_to "New Project", new_project_path %> |
    <%= link_to "All Projects", projects_path %> |
    <% if user_signed_in? %>
      Signed in as: <%= link_to "#{current_user.full_name}", edit_user_path(session[:user_id]) %> |
      <%= link_to "Sign Out", sessions_path, method: :delete %>
    <% else %>
      <%= link_to "Sign Up", new_user_path %> |
      <%= link_to "Sign In", new_sessions_path %>
    <% end %>
  </nav>
  <div class="container">
    <% if flash[:notice] %>
      <div class="flash-notice"><%= flash[:notice] %></div>
    <% elsif flash[:alert] %>
      <div class="flash-alert"><%= flash[:alert] %></div>
    <% end %>
    <div class="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
